@import url('https://fonts.googleapis.com/css?family=Heebo:300,900');

.text-wrap{
    width: 100%;
    max-width: 44rem;
    text-align: center;
}

.title{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Oswald';
    color: #5F5264;
    margin-bottom: 3rem;
}

p{
    font-size: 1rem;
    color: #b6ccb6;
    line-height: 1.4;
    font-family: 'Josefin Sans';
}

 .ml2 {
	font-family: 'Josefin Sans';
  }
  
  .ml2 .letter {
	display: inline-block;
  }
 